table, th, td {
    border: 1px solid black;
}

table {
    width: 600px;
}

tbody > tr > th {
    font-style: italic;
    font-weight: normal;
}

tbody > tr:nth-child(even) {
    background-color: lightblue;
}

tbody > tr:nth-child(odd) {
    background-color: lightgreen;
}

tbody > tr > td:nth-child(2) {
    color: red;
}

tbody > tr > td:nth-child(4) {
    color: blue;
}




dt:hover + dd {
    background-color: purple;
}

dd:hover + dd {
    background-color: black;
}

.outer-content {
    width: 75%;
    margin-top: 20px;
    padding: 30px;
    background-color: pink;
}

.inner-content {
    text-align: center;
    background-color: blue;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

form {
    border: 1px solid black;
    width: 800px;
    margin: 5px;
}

    form > input {
        margin: 3px;
    }

img {
    width: 100px;
    height: 125px;
    float: left;
}
